/*Custom Style Wordpress*/

/*Header logo and bg*/
.site-header {
    width: 960px;
    margin: 0 auto;
    background-image: url("./images/body-map.jpg");
}

.site-branding {
  width: 400px;
  float: left;
  margin: 5px auto;
}

.site-title {
  float: left;
  src: url("./images/logo.png");
}

/*Header Navigation*/
.main-navigation {
    width: 600px;
    float: left;
    margin: 0px;
    padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;


    float: left;
    margin: 5px auto;
    width: 560px;
}

#site-navigation {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}
